# Task 1

In [1]:
import math
import numpy as np
import pandas as pd

In [137]:
df = pd.read_csv("play_tennis.csv")
df = df.drop('day', axis=1)

In [104]:
def Entropy(x):
    summ = 0
    unq, count=np.unique(x, return_counts=True)
    for i in count:
        summ+=i/(len(x))*math.log2(i/(len(x)))
    summ*=(-1)
    return summ

In [105]:
def Entropy2(x,y):   
    unqx , countx = np.unique(x , return_counts=True)
    unqy , county = np.unique(y , return_counts=True)
    label_entp = Entropy(y)
    l1 = []
    l2 = []
    for j in unqx: 
        pos = 0
        neg  = 0
        for count in range(len(x)):
            if(j == x[count]):
                if(df['play'][count]=='Yes'):
                    pos +=1
                else:
                    neg+=1
        l1.append(pos)
        l2.append(neg)    
    summ=0
    temp_l=[]
    for i in range(0,len(countx)):
        summ=0
        if(l1[i]==0):
            summ+=-(l2[i]/(countx[i]) *  math.log2(l2[i]/(countx[i])))
        elif (l2[i]==0):
            summ+=-(l1[i]/(countx[i]) *  math.log2(l1[i]/(countx[i])))  
        else:
            summ+=-(l1[i]/(countx[i]) *  math.log2(l1[i]/(countx[i])))
            summ+=-(l2[i]/(countx[i]) *  math.log2(l2[i]/(countx[i])))
        temp_l.append(summ)
    tot=0
    for i in range(len(countx)):
        tot+=temp_l[i]*countx[i]/len(y)

    IG = label_entp - tot
    print("Information Gain : ", IG)
    return (IG)

In [106]:
IG1 = Entropy2(np.array(df['outlook']), np.array(df['play']))
IG2 = Entropy2(np.array(df['temp']), np.array(df['play']))
IG3 = Entropy2(np.array(df['humidity']), np.array(df['play']))
IG4 = Entropy2(np.array(df['wind']), np.array(df['play']))

Information Gain :  0.24674981977443922
Information Gain :  0.02922256565895487
Information Gain :  0.15183550136234159
Information Gain :  0.04812703040826949

In [107]:
data=[]
for i in df['outlook'].unique():
    data.append(df[df['outlook']==i])

In [108]:
print(data)

[   outlook  temp humidity    wind play
0    Sunny   Hot     High    Weak   No
1    Sunny   Hot     High  Strong   No
7    Sunny  Mild     High    Weak   No
8    Sunny  Cool   Normal    Weak  Yes
10   Sunny  Mild   Normal  Strong  Yes,      outlook  temp humidity    wind play
2   Overcast   Hot     High    Weak  Yes
6   Overcast  Cool   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes,    outlook  temp humidity    wind play
3     Rain  Mild     High    Weak  Yes
4     Rain  Cool   Normal    Weak  Yes
5     Rain  Cool   Normal  Strong   No
9     Rain  Mild   Normal    Weak  Yes
13    Rain  Mild     High  Strong   No]

In [109]:
df1 = pd.DataFrame(data[0])
df2 = pd.DataFrame(data[1])
df3 = pd.DataFrame(data[2])

In [124]:
df3

   outlook  temp humidity    wind play
3     Rain  Mild     High    Weak  Yes
4     Rain  Cool   Normal    Weak  Yes
5     Rain  Cool   Normal  Strong   No
9     Rain  Mild   Normal    Weak  Yes
13    Rain  Mild     High  Strong   No

In [113]:
IG1 = Entropy2(np.array(df1['temp']), np.array(df1['play']))
IG2 = Entropy2(np.array(df1['humidity']), np.array(df1['play']))
IG3 = Entropy2(np.array(df1['wind']), np.array(df1['play']))

Information Gain :  0.9709505944546686
Information Gain :  0.4199730940219748
Information Gain :  0.01997309402197478

In [114]:
data=[]
for i in df1['temp'].unique():
    data.append(df1[df1['temp']==i])

In [115]:
data

[  outlook temp humidity    wind play
 0   Sunny  Hot     High    Weak   No
 1   Sunny  Hot     High  Strong   No,
    outlook  temp humidity    wind play
 7    Sunny  Mild     High    Weak   No
 10   Sunny  Mild   Normal  Strong  Yes,
   outlook  temp humidity  wind play
 8   Sunny  Cool   Normal  Weak  Yes]

In [116]:
df4 = pd.DataFrame(data[0])
df5 = pd.DataFrame(data[1])
df6 = pd.DataFrame(data[2])

In [132]:
df5

   outlook  temp humidity    wind play
7    Sunny  Mild     High    Weak   No
10   Sunny  Mild   Normal  Strong  Yes

In [127]:
IG1 = Entropy2(np.array(df3['temp']), np.array(df3['play']))
IG2 = Entropy2(np.array(df3['humidity']), np.array(df3['play']))
IG3 = Entropy2(np.array(df3['wind']), np.array(df3['play']))

Information Gain :  0.01997309402197478
Information Gain :  0.01997309402197478
Information Gain :  0.4199730940219748

In [128]:
data=[]
for i in df3['wind'].unique():
    data.append(df3[df3['wind']==i])

In [129]:
df7 = pd.DataFrame(data[0])
df8 = pd.DataFrame(data[1])

In [133]:
df7

  outlook  temp humidity  wind play
3    Rain  Mild     High  Weak  Yes
4    Rain  Cool   Normal  Weak  Yes
9    Rain  Mild   Normal  Weak  Yes

In [134]:
def Test(x):
    if x[0]=='Overcast':
        return 'Yes'
    elif x[0] == 'Rain':
        if x[3] == 'Weak':
            return 'Yes'
        elif x[3] == 'Strong':
            return 'No'
    elif x[0] == 'Sunny':
        if x[2] == 'High':
            return 'No'
        elif x[2] == 'Normal':
            return 'Yes'

In [135]:
data=['Rain' , 'Cool' , 'Normal', 'Strong']
Test(data)

'No'

In [136]:
data=['Rain' , 'Cool' , 'Normal' , 'Weak']
Test(data)

'Yes'

### Decision Tree  Below

#### outlook = overcast -----> play yes
#### outlook = sunny check humidity
#### humidity = high -----> play no
#### humidity = normal -----> play yes
#### outlook = rain check wind
#### wind = strong -----> play yes
#### wind = weak -----> play no